[run]
source = .
omit =
    tests/*
    test_*.py
    env/*
    venv/*
    .venv/*
    __pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    except Exception as e:
    except Exception:
